body{
    background: rgb(105,191,100);
    background: radial-gradient(circle, rgba(105,191,100,1) 42%, rgba(245,245,220,1) 91%);
}

.whole-container{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.text-container{
    border: solid black 2px;
    border-radius: 5px;
    height: 600px;
    width: 500px;
}

.message-input{
    border-radius: 5px;
    height: 30px; 
    width: 400px;
}

.send-button{
    border-radius: 5px;
    height: 35px; 
    width: 80px;
}