/* body{
    background: rgb(105,191,100);
    background: radial-gradient(circle, rgba(105,191,100,1) 42%, rgba(245,245,220,1) 91%);
}

.whole-container{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.text-container{
    background-color: white;
    border: solid black 2px;
    border-radius: 5px;
    height: 600px;
    width: 500px;
}

.message-input{
    border-radius: 5px;
    height: 30px; 
    width: 400px;
}

.send-button{
    border-radius: 5px;
    height: 35px; 
    width: 80px;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: green;
    color: white;  
}
.outgoing {
    background: green;
    color: white;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}

body {
  transition: background-color .6s cubic-bezier(.7, 0, .7, 1);  
}

.dark {
  background-color: #28282B;
  span {
    color: #fff
  }
}